@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@theme {
  --color-cs-dark-primary: #09090b;
}

/* .skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text"] {
        color: transparent !important;
        @apply rounded-sm bg-foreground/20 select-none animate-pulse;
    }

    *[class^="no-skeleton"] {
        opacity: 0 !important;
    }

    input {
        opacity: 0 !important;
    }

    .skeleton-bg {
        @apply bg-foreground/10;
    }

    .skeleton-div {
        @apply bg-foreground/20 animate-pulse;
    }
} */
